*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Montserrat', sans-serif;
}

:root {
    --colore-principale: #4D9A84; /* Esempio di variabile con nome --colore-principale e valore #FF0000 */
    --colore-secondario: #6AB19E; /* Esempio di variabile con nome --colore-secondario e valore #00FF00 */
    --colore-terziario: #5CA894;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #5CA894;
}

header img {
    height: 80%;
    opacity: 0;
    animation-name: fade-in;
    animation-duration: 2s; 
    animation-fill-mode: forwards;
    animation-delay: 1s; 
}

@keyframes fade-in {
    0% {
      opacity: 0; 
    }
    100% {
      opacity: 1; 
    }
}

main {
    background-image: url(./img/bakcgood.jpg);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.carousel-item {
    display: none;
}

.active {
    display: block;
}

.carousel-container {
    display: flex;
    align-items: center;
    justify-content: center;
    /* padding-top: 10%; */
    width: 80%;
    height: 80%;
    text-align: center;
}

.carousel-item h3 {
    font-size: 52px;
    text-align: center;
    margin-bottom: 50px;
}

.carousel-item h4 {
    font-size: 30px;
    font-weight: 600;
}

form div {
    margin-bottom: 20px;
}

.centerFlex{
    display: flex;
    align-items: center;
    justify-content: center;
}

form label {
    font-size: 24px;
    font-weight: 500;
    margin-right: 5px;
}
form input {
    margin-right: 15px;
}

.column {
    display: flex;
    flex-direction: column;
}

/* Reset degli stili di default dell'input text */
input {
    border: none;
    border-bottom: 2px solid #000; /* Colore e stile della linea inferiore */
    outline: none; /* Rimuove l'outline di default */
    background-color: transparent; /* Sfondo trasparente */
}

input[type="text"] {
    font-size: 24px;
    font-weight: 500;
    text-align: center;
  }

  input[type="number"] {
    width: 100px;
    height: 40px;
    padding: 5px;
    border: none;
    background-color: transparent;
    color: #000000;
    font-size: 16px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
  }

  .round-check {
    appearance: none; /* Nasconde lo stile predefinito del checkbox */
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 20px; /* Imposta la larghezza del checkbox */
    height: 20px; /* Imposta l'altezza del checkbox */
    border-radius: 50%; /* Imposta il bordo a forma di cerchio */
    outline: none; /* Rimuove l'outline di default del checkbox */
    border: 1px solid #000; /* Aggiunge un bordo di 1px */
    background-color: #FFF; /* Imposta il colore di sfondo del checkbox */
  }
  
  /* Stile per il segno di spunta del checkbox */
  .round-check:checked::before {
    content: ""; /* Aggiunge un'area vuota prima del checkbox */
    display: block; /* Imposta come elemento blocco */
    width: 14px; /* Imposta la larghezza del segno di spunta */
    height: 14px; /* Imposta l'altezza del segno di spunta */
    margin: 2px; /* Aggiunge un margine tra il segno di spunta e il bordo del checkbox */
    border-radius: 50%; /* Imposta il bordo del segno di spunta a forma di cerchio */
    background-color: #4D9A84; /* Imposta il colore del segno di spunta */
  }